{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  <script>
      function printPage() {
        var source = window.document.getElementsByClassName("modal")
          window.print();
      }
  </script>
  <title>FirstLove Tema</title>
  <style>
    img{
      object-fit: cover
    }

    .searchbar{
      margin-top: 15px;
       width: 300px;
        height: 30px;
        padding: 15px;
      
    }
  </style>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  

  <!-- Custom styles for this template-->
  
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/gallery' %}" rel="stylesheet">

  
 
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="members">
        <div class="sidebar-brand-icon rotate-n-10">
        </div>
        <div class="sidebar-brand-text mx-3">FIRSTLOVE TEMA</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        ADMIN
      </div>


      <!-- Divider -->
      <!-- <hr class="sidebar-divider">

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
        Addons
      </div> --> 

      <!-- Nav Item - Pages Collapse Menu -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Other Majors</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
          
            <a class="collapse-item" href="index_chemistry.html">Chemistry</a>
            <a class="collapse-item" href="#">Engineering Sciences</a>
            <a class="collapse-item" href="#">Political Science</a>
            <a class="collapse-item" href="#">Machine Learning</a>
            <a class="collapse-item" href="index_businessAdmin.html">Business Administration</a>
          </div>
        </div>
      </li> -->

    
      <!-- Divider -->
      <!-- <hr class="sidebar-divider d-none d-md-block"> -->

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="searchbar" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" style= "height:33px; width:80px; margin-top:15px; padding-bottom: 20px; "type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a href="login" role="button"  aria-haspopup="true" aria-expanded="false">
                <span style = " margin-top: 100px;" class="mr-2 d-none d-lg-inline text-gray-600 small">Logout</span>
                
              </a>
              
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">FirstLove Tema</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary  h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Members Information Dashboard</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
          </div>

          <!-- Content Row -->
          <div class="row">
          {% for i in all_items %}
            <div class="col-xl-3 col-md-6 mb-6">
              <div class="card shadow mb-4">
                <div class="gallery">
                  <a target="_blank" >
                    <div class="w3-container" style="text-justify: inter-word; padding-left: 0px; padding-right: 0px;">
                        <img src='{{ MEDIA_URL }}{{ i.imagefile }}' alt="image" style:  width="120" height="200"   type="button" class=" btn-user btn-block"  data-toggle="modal" data-target="#l{{i.id}}">
                       
                        <!-- Modal: modalQuickView -->
                        <div class="modal fade" id="l{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                        
                          <div class="modal-dialog modal-lg" id = '{{i.id}}' role="document">
                            <div class="modal-content" >
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-lg-5">
                                  <img class="d-block w-100"
                                    src="{{ MEDIA_URL }}{{ i.imagefile }}"
                                    alt="First slide">
                                   
                                      <button class="btn btn-danger" style = "width:300px" type="button" data-toggle="modal" data-target="#l2{{i.id}}">Delete Member
                                        <!-- <input type = "submit" value = ""/> -->
                                      </button>
                                      <!-- Button trigger modal-->
                                          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmDelete">Launch
                                              modal</button> -->
                                            
                                            <!--Modal: modalConfirmDelete-->
                                            <div class="modal fade" id="l2{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                              aria-hidden="true">
                                              <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                                <!--Content-->
                                                <div class="modal-content text-center">
                                                  <!--Header-->
                                                  <div class="modal-header d-flex justify-content-center">
                                                    <p class="heading">Are you sure?</p>
                                                  </div>
                                            
                                                  <!--Body-->
                                                  <div class="modal-body">
                                            
                                                    <i class="fas fa-times fa-4x animated rotateIn"></i>
                                            
                                                  </div>
                                            
                                                  <!--Footer-->
                                                  <div class="modal-footer flex-center">
                                                      <form action = "/delete/{{i.id}}/" method= "post"> {% csrf_token %}
                                                   <a> <button href="members" class="btn btn-outline-danger">Yes</button></a>
                                                     </form>
                                                    <a type="button" class="btn btn-primary" data-dismiss="modal">No</a>
                                                  </div>
                                                </div>
                                                <!--/.Content-->
                                              </div>
                                            </div>
  <!--Modal: modalConfirmDelete-->
                                   
                                  </div>
                                  <div class="col-lg-7">
                                    <h2 class="h2-responsive product-name">
                                      <strong>{{i.id}}<br> {{i.firstname}}  <span>{{i.lastname}}</span></strong>
                                    </h2>
                                    <h4 class="h4-responsive">
                                      <span class="green-text">
                                       
                                     
                                      </span>
                                      <span class="grey-text">
                                        
                                            {{i.centre }}<br>
                                            <small>
                                          {{i.gender }}
                                        </small>
                                      </span>
                                    </h4>
                                    <div class="modal-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Date of birth: </th>
                                            <th>{{i.dob }}</th>
                                            
                                          
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Call Number:<br>
                                                  Whatsapp Number:<br></th>
                                                <td>{{i.whatsappNumber }}<br>
                                                  {{i.callNumber }}</td>
                                                
                                              </tr>
                                              <tr>
                                                  <th scope="row"> Ministry:<br>
                                                    Centre:<br></th>
                                                  <td>{{i.ministry}} <br> 
                                                    {{i.centre }}<br>
                                                  </td>
                                                  
                                                </tr>
                                               
                                          <tr>
                                            <th scope="row">Campus:<br>
                                                Hostel/Address: <br>
                                              
                                               
                                            </th>
                                            <td> {{i.campus }}<br>
                                              {{i.hostel_address }}<br>
                                              
                                              
                                             
                                            </td>
                                            
                                          </tr>
                                          <tr>
                                            <th scope="row"> City: <br></th>
                                            <td> {{i.city }}<br></td>
                                            
                                          </tr>
                                          <tr>
                                            <th scope="row">Qualification: <br>
                                              Profession: </th>
                                            <td> {{i.qualification }}<br>
                                             {{i.profession}}<br></td>
                                          
                                          </tr>
                                          <tr class="total">
                                            <th scope="row">Marital Status:</th>
                                            <td> {{i.maritalStatus }}</td>
                                          
                                          </tr>
                                          <tr class="total">
                                              <th scope="row">Number of Bacentas: <br>
                                              Number of Lay Schools written: </th>
                                              <td>{{i.bacenta }}<br>
                                                  {{i.layschool }}
                                              </td>
                                            
                                            </tr>
                                           
                                        </tbody>
                                      </table>
                            
                                    </div>
                                    <div class="text-center">
                        
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button onclick="printPage()" class="btn btn-primary">Save as Pdf </button>
                                       
                       
                                </div>
                              </div>
                              </div>
                            </div>
                          </div> 
                                  </div>
                               
                              </div>

                              <!-- <div class="w3-container"  style="text-align:center; padding-top:50px;"> -->
                                <!-- <div id="id02" class="w3-modal"> -->
                                    <!-- <div class="w3-modal-content">
                                        <!-- <div class="w3-container">
                                          </div> -->
                                        <!-- </div>  -->
                                      <!-- </div> -->
                                    <!-- </div>  -->
                        <!-- Card Body -->
                    <div class="card-body">
                      
                      <div class="w3-container"  style="text-align:center; padding-top:0px;">
                        <span alt="Cinque Terre" onclick="document.getElementById('{{i.id}}').style.display='block'"  data-toggle="modal" data-target="#l{{i.id}}"> {{i.firstname}}  <span>{{i.lastname}}</span></span>
                        <div class="modal fade" id="l{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                       
                        <div class="modal-dialog modal-lg" id = '{{i.id}}' role="document">
                          <div class="modal-content" >
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-lg-5">
                                <img class="d-block w-100"
                                  src="{{ MEDIA_URL }}{{ i.imagefile }}"
                                  alt="First slide">
                                </div>
                                <div class="col-lg-7">
                                  <h2 class="h2-responsive product-name">
                                    <strong>{{i.firstname}}  <span>{{i.lastname}}</span><br> {{i.id}}</strong>
                                  </h2>
                                  <h4 class="h4-responsive">
                                    <span class="green-text">
                                     
                                   
                                    </span>
                                    <span class="grey-text">
                                      
                                          {{i.centre }}<br>
                                          <small>
                                        {{i.gender }}
                                      </small>
                                    </span>
                                  </h4>
                                  <div class="modal-body">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>Date of birth: </th>
                                          <th>{{i.dob }}</th>
                                          
                                        
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">Call Number:<br>
                                                Whatsapp Number:<br></th>
                                              <td>{{i.whatsappNumber }}<br>
                                                {{i.callNumber }}</td>
                                              
                                            </tr>
                                            <tr>
                                                <th scope="row"> Ministry:<br>
                                                  Centre:<br></th>
                                                <td>{{i.ministry}} <br> 
                                                  {{i.centre }}<br>
                                                </td>
                                                
                                              </tr>
                                             
                                        <tr>
                                          <th scope="row">Campus:<br>
                                              Hostel/Address: <br>
                                            
                                             
                                          </th>
                                          <td> {{i.campus }}<br>
                                            {{i.hostel_address }}<br>
                                            
                                            
                                           
                                          </td>
                                          
                                        </tr>
                                        <tr>
                                          <th scope="row"> City: <br></th>
                                          <td> {{i.city }}<br></td>
                                          
                                        </tr>
                                        <tr>
                                          <th scope="row">Qualification: <br>
                                            Profession: </th>
                                          <td> {{i.qualification }}<br>
                                           {{i.profession}}<br></td>
                                        
                                        </tr>
                                        <tr class="total">
                                          <th scope="row">Marital Status:</th>
                                          <td> {{i.maritalStatus }}</td>
                                        
                                        </tr>
                                        <tr class="total">
                                            <th scope="row">Number of Bacentas: <br>
                                            Number of Lay Schools written: </th>
                                            <td>{{i.bacenta }}<br>
                                                {{i.layschool }}
                                            </td>
                                          
                                          </tr>
                                         
                                      </tbody>
                                    </table>
                          
                                  </div>
                                  <div class="text-center">
                      
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button class="btn btn-primary">Add to cart </button>
                    
                              </div>
                            </div>
                            </div>
                          </div>
                        </div> 
                                </div>
                             
                            </div>
                      </div>
                    </div>
                  </div>
              </div>
             
            </div>
           
          </div>
          {% endfor %}
        </div>
     
      
     

     
        
     

    </div>
    <!-- End of Content Wrapper -->
    
  </div>
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; FirstLove Tema</span>
      </div>
    </div>
</footer>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  
  

  
</body>

</html>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>




<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>